In [24]:
import pandas as pd

In [25]:
link_data = pd.read_csv('ml-25m/links.csv')
main_data = pd.read_csv('movies.csv')
imdb_data = pd.read_csv('imdb_movies.csv')

In [26]:
imdb_data

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US
...,...,...,...,...,...,...,...,...,...,...,...,...
10173,20th Century Women,12/28/2016,73.0,Drama,"In 1979 Santa Barbara, California, Dorothea Fi...","Annette Bening, Dorothea Fields, Lucas Jade Zu...",20th Century Women,Released,English,7000000.0,9.353729e+06,US
10174,Delta Force 2: The Colombian Connection,08/24/1990,54.0,Action,When DEA agents are taken captive by a ruthles...,"Chuck Norris, Col. Scott McCoy, Billy Drago, R...",Delta Force 2: The Colombian Connection,Released,English,9145817.8,6.698361e+06,US
10175,The Russia House,12/21/1990,61.0,"Drama, Thriller, Romance","Barley Scott Blair, a Lisbon-based editor of R...","Sean Connery, Bartholomew 'Barley' Scott Blair...",The Russia House,Released,English,21800000.0,2.299799e+07,US
10176,Darkman II: The Return of Durant,07/11/1995,55.0,"Action, Adventure, Science Fiction, Thriller, ...",Darkman and Durant return and they hate each o...,"Larry Drake, Robert G. Durant, Arnold Vosloo, ...",Darkman II: The Return of Durant,Released,English,116000000.0,4.756613e+08,US
10177,The Swan Princess: A Royal Wedding,07/20/2020,70.0,"Animation, Family, Fantasy",Princess Odette and Prince Derek are going to ...,"Nina Herzog, Princess Odette (voice), Yuri Low...",The Swan Princess: A Royal Wedding,Released,English,92400000.0,5.394018e+08,GB

In [27]:
# rename columns
imdb_data = imdb_data.rename(columns={'names': 'title'})

In [28]:
import re
def remove_text_in_brackets(input_string):
    # Use a regular expression to match text within brackets and remove it
    result = re.sub(r'\([^)]*\)', '', input_string)
    result = result.strip() 
    return result

In [32]:
merge_movies = pd.merge(main_data, link_data, on='movieId', how='left')
main_data['year'] = main_data['title'].str.extract('.*\((.*)\).*', expand=True)
main_data

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,2017
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,2017
9739,193585,Flint (2017),Drama,2017
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,2018
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,1991

In [34]:
merge_movies['title'] = merge_movies['title'].apply(remove_text_in_brackets)

In [35]:
merge_movies.to_csv('merge_movies.csv', index=False)

In [ ]:
merge_movies2 = pd.merge(merge_movies, imdb_data, on='title', how='left')

In [ ]:
tmdb_data = pd.read_csv('tmdb_5000_movies.csv')
top_5000  = pd.read_csv('top_1000_popular_movies_tmdb.csv', lineterminator='\n')

In [ ]:
tmdb_data = tmdb_data.rename(columns={'id': 'tmdbId'})
top_5000 = top_5000.rename(columns={'id': 'tmdbId'})

In [ ]:
merge_movies3 = pd.merge(merge_movies, tmdb_data, on='title', how='left')

In [ ]:
merge_movies3

In [ ]:
merge_movies3.loc[merge_movies3['overview'].isna()]

In [ ]:
len(main_data), len(merge_movies), len(imdb_data), len(merge_movies2)

In [ ]:
merge_movies2[merge_movies2['crew'].isna()]

In [ ]:
# tmdb data is missing for these movies so lets fill it with