In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

/Users/shreemit/miniforge3/envs/leaseGPT/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [17]:
movies = pd.read_csv('/Users/shreemit/Developer/movie-recs/merge_movies.csv')
ratings = pd.read_csv('/Users/shreemit/Developer/movie-recs/ratings.csv')
ratings.drop('timestamp', axis=1, inplace=True)

In [18]:
user_ids_df = ratings.groupby("userId").size().to_frame(name="ratings_count").reset_index()
user_ids_df

     userId  ratings_count
0         1            232
1         2             29
2         3             39
3         4            216
4         5             44
..      ...            ...
605     606           1115
606     607            187
607     608            831
608     609             37
609     610           1302

[610 rows x 2 columns]

In [19]:
test_size = 0.2  # fraction for the test set
data = pd.merge(ratings, movies, on='movieId')

In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split


# Merge movies and ratings based on movieId
movie_ratings = pd.merge(ratings, movies, on='movieId')

# Define a function to split data based on user IDs
def split_data_by_user(df, test_size=0.5):
    train_data, test_data = pd.DataFrame(columns=df.columns), pd.DataFrame(columns=df.columns)

    unique_users = df['userId'].unique()
    for user_id in unique_users:
        user_data = df[df['userId'] == user_id]
        train_user, test_user = train_test_split(user_data, test_size=test_size, random_state=42)
        train_data = pd.concat([train_data, train_user], ignore_index=True)
        test_data = pd.concat([test_data, test_user], ignore_index=True)

    return train_data, test_data

# Split the data
train_data, test_data = split_data_by_user(movie_ratings, test_size=0.5)

# Save the split datasets to CSV files
train_data.to_csv('train_data.csv', index=False)
test_data.to_csv('test_data.csv', index=False)

/var/folders/q9/_hwzlyzd14qc0xyjstc7df380000gn/T/ipykernel_50095/2852947768.py:16: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  train_data = pd.concat([train_data, train_user], ignore_index=True)
/var/folders/q9/_hwzlyzd14qc0xyjstc7df380000gn/T/ipykernel_50095/2852947768.py:17: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  test_data = pd.concat([test_data, test_user], ignore_index=True)

In [22]:
len(train_data), len(test_data), len(ratings)

(50270, 50566, 100836)

In [24]:
train_data['userId'].nunique(), test_data['userId'].nunique(), ratings['userId'].nunique()

(610, 610, 610)

In [28]:
train_data[train_data['userId'] ==45].sort_values('rating', ascending=False)

,userId,movieId,rating,title,genres,year,imdbId,tmdbId
58,1,231,5.0,Dumb & Dumber,Adventure|Comedy,1994,109686.0,8467.0
81,1,954,5.0,Mr. Smith Goes to Washington,Drama,1939,31679.0,3083.0
78,1,3147,5.0,"Green Mile, The",Crime|Drama,1999,120689.0,497.0
77,1,3793,5.0,X-Men,Action|Adventure|Sci-Fi,2000,120903.0,36657.0
76,1,2947,5.0,Goldfinger,Action|Adventure|Thriller,1964,58150.0,658.0
...,...,...,...,...,...,...,...,...
27,1,423,3.0,Blown Away,Action|Thriller,1994,109303.0,178.0
70,1,1030,3.0,Pete's Dragon,Adventure|Animation|Children|Musical,1977,76538.0,11114.0
71,1,1676,3.0,Starship Troopers,Action|Sci-Fi,1997,120201.0,563.0
24,1,2338,2.0,I Still Know What You Did Last Summer,Horror|Mystery|Thriller,1998,130018.0,3600.0
54,1,3176,1.0,"Talented Mr. Ripley, The",Drama|Mystery|Thriller,1999,134119.0,1213.0

In [30]:
test_data[test_data['userId'] ==45].sort_values('rating', ascending=False)

,userId,movieId,rating,title,genres,year,imdbId,tmdbId
3247,45,2081,5.0,"Little Mermaid, The",Animation|Children|Comedy|Musical|Romance,1989,97757.0,10144.0
3288,45,474,5.0,In the Line of Fire,Action|Thriller,1993,107206.0,9386.0
3356,45,54272,5.0,"Simpsons Movie, The",Animation|Comedy,2007,462538.0,35.0
3355,45,5283,5.0,National Lampoon's Van Wilder,Comedy,2002,283111.0,11452.0
3353,45,150,5.0,Apollo 13,Adventure|Drama|IMAX,1995,112384.0,568.0
...,...,...,...,...,...,...,...,...
3255,45,2470,1.0,Crocodile Dundee,Adventure|Comedy,1986,90555.0,9671.0
3324,45,5585,1.0,Ernest Scared Stupid,Comedy,1991,101821.0,32685.0
3439,45,4502,1.0,Ernest Saves Christmas,Children|Comedy,1988,95107.0,26386.0
3270,45,2672,1.0,"Thirteenth Floor, The",Drama|Sci-Fi|Thriller,1999,139809.0,1090.0
3389,45,3270,1.0,"Cutting Edge, The",Comedy|Drama|Romance,1992,104040.0,16562.0