In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

/Users/shreemit/miniforge3/envs/leaseGPT/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [17]:
movies = pd.read_csv('/Users/shreemit/Developer/movie-recs/merge_movies.csv')
ratings = pd.read_csv('/Users/shreemit/Developer/movie-recs/ratings.csv')
ratings.drop('timestamp', axis=1, inplace=True)

In [18]:
user_ids_df = ratings.groupby("userId").size().to_frame(name="ratings_count").reset_index()
user_ids_df

     userId  ratings_count
0         1            232
1         2             29
2         3             39
3         4            216
4         5             44
..      ...            ...
605     606           1115
606     607            187
607     608            831
608     609             37
609     610           1302

[610 rows x 2 columns]

In [19]:
test_size = 0.2  # fraction for the test set
data = pd.merge(ratings, movies, on='movieId')

In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split


# Merge movies and ratings based on movieId
movie_ratings = pd.merge(ratings, movies, on='movieId')

# Define a function to split data based on user IDs
def split_data_by_user(df, test_size=0.5):
    train_data, test_data = pd.DataFrame(columns=df.columns), pd.DataFrame(columns=df.columns)

    unique_users = df['userId'].unique()
    for user_id in unique_users:
        user_data = df[df['userId'] == user_id]
        train_user, test_user = train_test_split(user_data, test_size=test_size, random_state=42)
        train_data = pd.concat([train_data, train_user], ignore_index=True)
        test_data = pd.concat([test_data, test_user], ignore_index=True)

    return train_data, test_data

# Split the data
train_data, test_data = split_data_by_user(movie_ratings, test_size=0.5)

# Save the split datasets to CSV files
train_data.to_csv('train_data.csv', index=False)
test_data.to_csv('test_data.csv', index=False)

/var/folders/q9/_hwzlyzd14qc0xyjstc7df380000gn/T/ipykernel_50095/2852947768.py:16: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  train_data = pd.concat([train_data, train_user], ignore_index=True)
/var/folders/q9/_hwzlyzd14qc0xyjstc7df380000gn/T/ipykernel_50095/2852947768.py:17: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  test_data = pd.concat([test_data, test_user], ignore_index=True)

In [22]:
len(train_data), len(test_data), len(ratings)

(50270, 50566, 100836)

In [24]:
train_data['userId'].nunique(), test_data['userId'].nunique(), ratings['userId'].nunique()

(610, 610, 610)

In [25]:
train_data[train_data['userId'] ==1]

,userId,movieId,rating,title,genres,year,imdbId,tmdbId
0,1,3439,4.0,Teenage Mutant Ninja Turtles II: The Secret of...,Action|Children|Fantasy,1991,103060.0,1497.0
1,1,2858,5.0,American Beauty,Drama|Romance,1999,169547.0,14.0
2,1,592,4.0,Batman,Action|Crime|Thriller,1989,96895.0,268.0
3,1,216,5.0,Billy Madison,Comedy,1995,112508.0,11017.0
4,1,3740,4.0,Big Trouble in Little China,Action|Adventure|Comedy|Fantasy,1986,90728.0,6978.0
...,...,...,...,...,...,...,...,...
111,1,1644,3.0,I Know What You Did Last Summer,Horror|Mystery|Thriller,1997,119345.0,3597.0
112,1,235,4.0,Ed Wood,Comedy|Drama,1994,109707.0,522.0
113,1,1377,3.0,Batman Returns,Action|Crime,1992,103776.0,364.0
114,1,2700,5.0,"South Park: Bigger, Longer and Uncut",Animation|Comedy|Musical,1999,158983.0,9473.0
115,1,1587,5.0,Conan the Barbarian,Action|Adventure|Fantasy,1982,82198.0,9387.0

In [27]:
test_data[test_data['userId'] ==1]

,userId,movieId,rating,title,genres,year,imdbId,tmdbId
0,1,3578,5.0,Gladiator,Action|Adventure|Drama,2000,172495.0,98.0
1,1,1127,4.0,"Abyss, The",Action|Adventure|Sci-Fi|Thriller,1989,96754.0,2756.0
2,1,157,5.0,Canadian Bacon,Comedy|War,1995,109370.0,1775.0
3,1,2617,2.0,"Mummy, The",Action|Adventure|Comedy|Fantasy|Horror|Thriller,1999,120616.0,564.0
4,1,260,5.0,Star Wars: Episode IV - A New Hope,Action|Adventure|Sci-Fi,1977,76759.0,11.0
...,...,...,...,...,...,...,...,...
111,1,1517,5.0,Austin Powers: International Man of Mystery,Action|Adventure|Comedy,1997,118655.0,816.0
112,1,608,5.0,Fargo,Comedy|Crime|Drama|Thriller,1996,116282.0,275.0
113,1,2797,4.0,Big,Comedy|Drama|Fantasy|Romance,1988,94737.0,2280.0
114,1,1080,5.0,Monty Python's Life of Brian,Comedy,1979,79470.0,583.0
115,1,367,4.0,"Mask, The",Action|Comedy|Crime|Fantasy,1994,110475.0,854.0